# Import Dependencies

In [44]:
import numpy as np
import pandas as pd
import gzip
import json

import os
import gzip
import json

from pprint import pprint


import os
import pandas as pd

# Turkish StopWords

import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
turkish_stopwords = stopwords.words('turkish')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\itsmm\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Influencer Category Classification



1.   Read Data
2.   Preprocess Data
3.   Prepare Model
4.   Predict Test Data
4.   Save outputs

In [45]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the training directory
training_dir = os.path.join(data_dir, 'training')

# File path for 'train-classification.csv'
train_classification_path = os.path.join(training_dir, 'train-classification.csv')

# Step 2: Load Data Dynamically
train_classification_df = pd.read_csv(train_classification_path)
train_classification_df = train_classification_df.rename(columns={'Unnamed: 0': 'user_id', 'label': 'category'})

# Step 3: Unify Labels
train_classification_df["category"] = train_classification_df["category"].apply(str.lower)

# Step 4: Create User-to-Category Mapping
username2_category = train_classification_df.set_index("user_id").to_dict()["category"]

# Step 5: Verify Output
print("First few rows of the training classification DataFrame:")
train_classification_df.head()

First few rows of the training classification DataFrame:

           user_id          category
0    taskirancemal  mom and children
1    tam_kararinda              food
2         spart4nn              food
3  sosyalyiyiciler              food
4  sonaydizdarahad  mom and children

In [46]:
print(username2_category["kod8net"] + "\n")

# stats about the labels
train_classification_df.groupby("category").count()

tech

                      user_id
category
art                       191
entertainment             323
fashion                   299
food                      511
gaming                     13
health and lifestyle      503
mom and children          149
sports                    113
tech                      346
travel                    294

In [47]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the training directory
training_dir = os.path.join(data_dir, 'training')

# File path for 'training-dataset.jsonl.gz'
train_data_path = os.path.join(training_dir, 'training-dataset.jsonl.gz')

# Step 2: Initialize Dictionaries for Data
username2posts_train = dict()
username2profile_train = dict()

username2posts_test = dict()
username2profile_test = dict()

# Step 3: Process Data from 'training-dataset.jsonl.gz'
with gzip.open(train_data_path, "rt", encoding="utf-8") as fh:
    for line in fh:
        sample = json.loads(line)

        profile = sample["profile"]
        username = profile.get("username", "").strip()  # Handle missing or empty usernames
        if not username:
            continue  # Skip if username is missing or empty

        if username in username2_category:
            # Train data info
            username2posts_train[username] = sample["posts"]
            username2profile_train[username] = profile
        else:
            # Test data info
            username2posts_test[username] = sample["posts"]
            username2profile_test[username] = profile

# Step 4: Verify Output
print(f"Number of Training Users: {len(username2posts_train)}")
print(f"Number of Testing Users: {len(username2posts_test)}")

Number of Training Users: 2741
Number of Testing Users: 2674

In [48]:
# Profile Dataframe
train_profile_df = pd.DataFrame(username2profile_train).T.reset_index(drop=True)
test_profile_df = pd.DataFrame(username2profile_test).T.reset_index(drop=True)

train_profile_df.head(2)

,username,id,full_name,biography,category_name,post_count,follower_count,following_count,is_business_account,is_private,...,business_category_name,overall_category_name,category_enum,is_verified_by_mv4b,is_regulated_c18,profile_pic_url,should_show_category,should_show_public_contacts,show_account_transparency_details,profile_picture_base64
0,deparmedya,3170700063,Depar Medya,#mediaplanning #mediabuying #sosyalmedya,Local business,None,1167,192,True,False,...,None,None,LOCAL,False,False,https://instagram.fsaw2-3.fna.fbcdn.net/v/t51....,True,True,True,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...
1,kafesfirin,266439571,KAFES FIRIN,üìçSoÃàgÃÜuÃàtoÃàzuÃàüìçFTZ AVM\nüõíAnkara macro‚ñ≤center v...,Brand,None,11997,17,True,False,...,None,None,BRAND,False,False,https://instagram.fada1-13.fna.fbcdn.net/v/t51...,True,True,True,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...

In [49]:
# Test Profie Dataframe
test_profile_df.head(2)

,username,id,full_name,biography,category_name,post_count,follower_count,following_count,is_business_account,is_private,...,business_category_name,overall_category_name,category_enum,is_verified_by_mv4b,is_regulated_c18,profile_pic_url,should_show_category,should_show_public_contacts,show_account_transparency_details,profile_picture_base64
0,beyazyakaliyiz,8634457436,Selam Beyaz Yakalƒ±,Beyaz yakalƒ±larƒ±n d√ºnyasƒ±na ho≈ügeldiniz üòÄüòÄüòÄ,Personal blog,None,1265,665,True,False,...,None,None,PERSONAL_BLOG,False,False,https://instagram.fist6-1.fna.fbcdn.net/v/t51....,True,True,True,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...
1,totalenergies_istasyonlari,7066643793,TotalEnergies IÃástasyonlarƒ±,TotalEnergies ƒ∞stasyonlarƒ± resmi Instagram hes...,Energy Company,None,28025,4,True,False,...,None,None,ENERGY_COMPANY,False,False,https://instagram.fsaw2-1.fna.fbcdn.net/v/t51....,True,True,True,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

def preprocess_text(text: str):
    # lower casing Turkish Text, Don't use str.lower :)
    text = text.casefold()

    # Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)

    # Remove special characters and punctuation
    # HERE THE EMOJIS stuff are being removed, you may want to keep them :D
    text = re.sub(r'[^a-z√ßƒüƒ±√∂≈ü√º0-9\s#@]', '', text)

    # Remove numbers
    text = re.sub(r'\d+', '', text)

    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text).strip()

    return text


corpus = []

# to keep the label order
train_usernames = []

for username, posts in username2posts_train.items():
  train_usernames.append(username)

  # aggregating the posts per user
  cleaned_captions = []
  for post in posts:
    post_caption = post.get("caption", "")
    if post_caption is None:
      continue

    post_caption = preprocess_text(post_caption)

    if post_caption != "":
      cleaned_captions.append(post_caption)


  # joining the posts of each user with a \n
  user_post_captions = "\n".join(cleaned_captions)
  corpus.append(user_post_captions)


vectorizer = TfidfVectorizer(stop_words=turkish_stopwords, max_features=5000)

# fit the vectorizer
vectorizer.fit(corpus)


# transform the data into vectors
x_post_train = vectorizer.transform(corpus)
y_train = [username2_category.get(uname, "NA") for uname in train_usernames]


test_usernames = []
test_corpus = []
for username, posts in username2posts_test.items():
  test_usernames.append(username)
  # aggregating the posts per user
  cleaned_captions = []
  for post in posts:
    post_caption = post.get("caption", "")
    if post_caption is None:
      continue

    post_caption = preprocess_text(post_caption)

    if post_caption != "":
      cleaned_captions.append(post_caption)

  user_post_captions = "\n".join(cleaned_captions)
  test_corpus.append(user_post_captions)


# Just transforming! No Fitting!!!!!
x_post_test = vectorizer.transform(test_corpus)

In [51]:
# Making sure everything is fine
assert y_train.count("NA") == 0

In [52]:
feature_names = vectorizer.get_feature_names_out()
feature_names

array(['abdullah', 'abone', 'about', ..., '≈üƒ±k', '≈üƒ±klƒ±k', '≈üƒ±klƒ±ƒüƒ±'],
      dtype=object)

In [53]:
df_tfidf = pd.DataFrame(x_post_train.toarray(), columns=feature_names)
df_tfidf.head(2)

,abdullah,abone,about,acele,acil,activities,acƒ±,ad,ada,adam,...,≈üubemiz,≈üubesi,≈ü√∂len,≈ü√∂leni,≈ü√∂yle,≈ü√ºkranla,≈ü√ºk√ºr,≈üƒ±k,≈üƒ±klƒ±k,≈üƒ±klƒ±ƒüƒ±
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.050596,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [54]:
print(df_tfidf.shape)

(2741, 5000)

In [55]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(df_tfidf, y_train, test_size=0.2, stratify=y_train)

In [56]:
print(x_train.shape)

print(x_val.shape)

(2192, 5000)
(549, 5000)

# Naive Base Classifier

### Now we can pass the numerical values to a classifier, Let's try Naive Base!

In [57]:

from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report


model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

In [58]:
# Train Data
y_train_pred = model.predict(x_train)

print("Accuracy:", accuracy_score(y_train, y_train_pred))
print("\nClassification Report:")
print(classification_report(y_train, y_train_pred, zero_division=0))

Accuracy: 0.677007299270073

Classification Report:
                      precision    recall  f1-score   support

                 art       1.00      0.14      0.24       153
       entertainment       0.68      0.59      0.63       258
             fashion       0.77      0.74      0.75       239
                food       0.83      0.91      0.87       409
              gaming       0.00      0.00      0.00        10
health and lifestyle       0.50      0.86      0.63       402
    mom and children       0.91      0.08      0.15       119
              sports       1.00      0.12      0.22        90
                tech       0.79      0.85      0.82       277
              travel       0.63      0.68      0.65       235

            accuracy                           0.68      2192
           macro avg       0.71      0.50      0.50      2192
        weighted avg       0.74      0.68      0.64      2192

In [59]:
# Validation Data
y_val_pred = model.predict(x_val)

print("Accuracy:", accuracy_score(y_val, y_val_pred))
print("\nClassification Report:")
print(classification_report(y_val, y_val_pred, zero_division=0))

Accuracy: 0.5610200364298725

Classification Report:
                      precision    recall  f1-score   support

                 art       0.00      0.00      0.00        38
       entertainment       0.40      0.29      0.34        65
             fashion       0.70      0.63      0.67        60
                food       0.69      0.86      0.77       102
              gaming       0.00      0.00      0.00         3
health and lifestyle       0.44      0.81      0.57       100
    mom and children       0.50      0.03      0.06        30
              sports       1.00      0.04      0.08        23
                tech       0.68      0.64      0.66        69
              travel       0.55      0.61      0.58        59

            accuracy                           0.56       549
           macro avg       0.50      0.39      0.37       549
        weighted avg       0.55      0.56      0.51       549

In [60]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the testing directory
testing_dir = os.path.join(data_dir, 'testing')

# File path for 'test-classification-round1.dat'
test_data_path = os.path.join(testing_dir, 'test-classification-round1.dat')

# Step 2: Preview First 5 Lines of the Test File
with open(test_data_path, "rt", encoding="utf-8") as fh:
    for i, line in enumerate(fh):
        print(line.strip())
        if i == 4:  # Print only the first 5 lines
            break

print("*****")

# Step 3: Extract Usernames from Test Data
test_unames = []
with open(test_data_path, "rt", encoding="utf-8") as fh:
    for line in fh:
        test_unames.append(line.strip())

# Step 4: Verify Output
print(test_unames[:5])  # Display the first 5 usernames

ozhotelstr
elleturkiye
sozerinsaatorhangazi
sanliurfapiazzaavym
rusanozden
*****
['ozhotelstr', 'elleturkiye', 'sozerinsaatorhangazi', 'sanliurfapiazzaavym', 'rusanozden']

In [61]:
x_test = []

for uname in test_unames:
  try:
    index = test_usernames.index(uname)
    x_test.append(x_post_test[index].toarray()[0])
  except Exception as e:
    try:
      index = train_usernames.index(uname)
      x_test.append(x_post_train[index].toarray()[0])
    except Exception as e:
      print(uname)


print(test_unames.remove("screenname"))

df_test = pd.DataFrame(np.array(x_test), columns=feature_names)
df_test.head(2)

screenname
None

,abdullah,abone,about,acele,acil,activities,acƒ±,ad,ada,adam,...,≈üubemiz,≈üubesi,≈ü√∂len,≈ü√∂leni,≈ü√∂yle,≈ü√ºkranla,≈ü√ºk√ºr,≈üƒ±k,≈üƒ±klƒ±k,≈üƒ±klƒ±ƒüƒ±
0,0.0,0.0,0.0,0.0,0.0,0.013628,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.025994,0.0,0.0,0.011087,0.0,0.0

In [62]:
test_pred = model.predict(df_test)

output = dict()
for index, uname in enumerate(test_unames):
  output[uname] = test_pred[index]

In [63]:
with open("output.json", "w") as of:
  json.dump(output, of, indent=4)

# Like Count Prediction


Here, we use the average like_count of the user's previous posts to predict each post's like_count

In [64]:
def predict_like_count(username, current_post=None):
  def get_avg_like_count(posts:list):
    total = 0.
    for post in posts:
      if current_post is not None and post["id"] == current_post["id"]:
        continue

      like_count = post.get("like_count", 0)
      if like_count is None:
        like_count = 0
      total += like_count

    if len(posts) == 0:
      return 0.

    return total / len(posts)

  if username in username2posts_train:
    return get_avg_like_count(username2posts_train[username])
  elif username in username2posts_test:
    return get_avg_like_count(username2posts_test[username])
  else:
    print(f"No data available for {username}")
    return -1

In [65]:
def log_mse_like_counts(y_true, y_pred):
  """
  Calculate the Log Mean Squared Error (Log MSE) for like counts (log(like_count + 1)).

  Parameters:
  - y_true: array-like, actual like counts
  - y_pred: array-like, predicted like counts

  Returns:
  - log_mse: float, Log Mean Squared Error
  """
  # Ensure inputs are numpy arrays
  y_true = np.array(y_true)
  y_pred = np.array(y_pred)

  # Log transformation: log(like_count + 1)
  log_y_true = np.log1p(y_true)
  log_y_pred = np.log1p(y_pred)

  # Compute squared errors
  squared_errors = (log_y_true - log_y_pred) ** 2

  # Return the mean of squared errors
  return np.mean(squared_errors)

In [66]:
# Train Dataset evaluation

y_like_count_train_true = []
y_like_count_train_pred = []
for uname, posts in username2posts_train.items():
  for post in posts:
    pred_val = predict_like_count(uname, post)
    true_val = post.get("like_count", 0)
    if true_val is None:
      true_val = 0

    y_like_count_train_true.append(true_val)
    y_like_count_train_pred.append(pred_val)

print(f"Log MSE Train= {log_mse_like_counts(y_like_count_train_true, y_like_count_train_pred)}")

Log MSE Train= 1.2271047744059362

In [67]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the testing directory
testing_dir = os.path.join(data_dir, 'testing')

# File path for 'test-regression-round1.jsonl'
test_dataset_path = os.path.join(testing_dir, 'test-regression-round1.jsonl')

# File path for output
output_dir = os.path.join(data_dir, 'output')
os.makedirs(output_dir, exist_ok=True)  # Ensure the output directory exists
output_file_path = os.path.join(output_dir, 'test-regression-round1.jsonl')

# Step 2: Process the Test Dataset
to_predict_like_counts_usernames = []
output_list = []

with open(test_dataset_path, "rt", encoding="utf-8") as fh:
    for line in fh:
        sample = json.loads(line)

        # Perform prediction
        pred_val = predict_like_count(sample["username"])  # Ensure `predict_like_count` is defined
        sample["like_count"] = int(pred_val)
        output_list.append(sample)

# Step 3: Save the Output to a File
with open(output_file_path, "wt", encoding="utf-8") as of:
    json.dump(output_list, of)

# Step 4: Output Verification
print(f"Processed data saved to: {output_file_path}")

Processed data saved to: c:\Users\itsmm\OneDrive\Desktop\CS412\CS412-InstagramInfluencersAnalysis\data\output\test-regression-round1.jsonl

In [68]:
# output_list first 3 items
pprint(output_list[:3])

[{'caption': 'KOZA 2023 2.si Damla‚Äônƒ±n koleksiyonu, Latincede ‚ÄòMemento Mori‚Äô '
             'olarak bilinen ‚Äò√∂l√ºml√º olduƒüunu hatƒ±rla‚Äô anlamƒ±ndaki ifadeden '
             'esinleniyor. Koleksiyon, hayatƒ±n ve √∂l√ºm√ºn, para, i≈ü√ßi, kral ve '
             'krali√ße kavramlarƒ± √ºzerinden yaratƒ±cƒ± g√∂r√ºn√ºmlerle bir araya '
             'getirilmesini ama√ßlƒ±yor. √ñl√ºm sembollerinden esinlenen desenler '
             'kullanan Damla, ‚Äúkaƒüƒ±t par√ßasƒ±ndan ibaret olmak‚Äù kavramƒ±nƒ± '
             'vurguluyor. Koleksiyon, ya≈üamƒ±n ve √∂l√ºm√ºn aynƒ± anda ifade '
             'edilmesini hedefliyor; kƒ±rmƒ±zƒ± ve mavi ƒ±≈üƒ±klarla veya '
             'g√∂zl√ºklerle g√∂r√ºlen hologram efekti kullanƒ±larak bu konsept '
             'sahneye ta≈üƒ±nƒ±yor. Kƒ±rmƒ±zƒ± renk √∂l√ºm√º, mavi ise ya≈üamƒ± '
             'simgeliyor. Koleksiyon, ofis giyimlerinden esinlenerek '
             'kravatlar, g√∂mlekler ve evrak √ßantalarƒ± i√ßeriyor. Klasik sivri '
             'burun √ßizmelerin √ºzerine spor ayakkabƒ±larƒ±n √ºst y√ºzeyi '
             'yerle≈ütirilerek, i≈ü d√ºnyasƒ±nƒ±n ko≈üu≈üturmasƒ± ve cenaze '
             'temalarƒ±nƒ±n aynƒ± anda ifade edilmesi ama√ßlanƒ±yor. Para kazanma '
             'arzusu, kƒ±rmƒ±zƒ± zambak desenleri ve b√ºy√ºk m√ºcevher g√∂r√ºn√ºmleri '
             'ile koleksiyon tamamlanƒ±yor.\n'
             '\n'
             'Tebrikler Damla!\n'
             '\n'
             '#GencModaTasarimcilari #Koza2023 #KozaYarismasi '
             '#TasarimYarismasi #Moda #Fashion #ModaTasarƒ±mƒ±',
  'comments_count': 2,
  'id': '18144550534306740',
  'like_count': 158,
  'media_type': 'CAROUSEL_ALBUM',
  'media_url': 'https://scontent-sof1-1.cdninstagram.com/v/t51.29350-15/397997154_1016992459537522_4925783512176260397_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=7V_eObkFeK4AX-LMtsK&_nc_ht=scontent-sof1-1.cdninstagram.com&edm=AL-3X8kEAAAA&oh=00_AfDEqDhzaTO3ezV-veT6cJFCOcAEyeVzHR6si9n33N6G5A&oe=6551B6B9',
  'timestamp': '2023-11-02 15:49:22',
  'username': 'kozayarismasi'},
 {'caption': 'T√ºm T√ºrkiye ve Avrupa‚Äôya sevkiyatlarƒ±mƒ±z aralƒ±ksƒ±z devam ediyor! '
             'Aracƒ±mƒ±z Bursa‚Äôdan Ordu‚Äôya m√º≈üterimizin √ºr√ºnleri i√ßin yola '
             '√ßƒ±kƒ±yor.\n'
             '\n'
             'üëâTuna Mah. Etibank Cad. No:134 Osmangazi/BURSA\n'
             '\n'
             'www.celikbeymobilya.com sitemizden t√ºm modelleri '
             'inceleyebilirsiniz. \n'
             '\n'
             '#bursa #almanya #fransa',
  'comments_count': 0,
  'id': '17995331788956693',
  'like_count': 99,
  'media_type': 'VIDEO',
  'media_url': 'https://scontent-sof1-2.cdninstagram.com/o1/v/t16/f1/m82/BF4767CB85BDFB8ADCCCA8F15B8C20B5_video_dashinit.mp4?efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLmNsaXBzLnVua25vd24tQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSJ9&_nc_ht=scontent-sof1-2.cdninstagram.com&_nc_cat=110&vs=1259525061418244_1441854817&_nc_vs=HBksFQIYT2lnX3hwdl9yZWVsc19wZXJtYW5lbnRfcHJvZC9CRjQ3NjdDQjg1QkRGQjhBRENDQ0E4RjE1QjhDMjBCNV92aWRlb19kYXNoaW5pdC5tcDQVAALIAQAVAhg6cGFzc3Rocm91Z2hfZXZlcnN0b3JlL0dBRWdfaFZfcDVCYk5HZ0NBQTlzVURvZW5mZ3FicV9FQUFBRhUCAsgBACgAGAAbAYgHdXNlX29pbAExFQAAJvS3uOiQ0P8%2FFQIoAkMzLBdAJO%2Bdsi0OVhgSZGFzaF9iYXNlbGluZV8xX3YxEQB1AAA%3D&ccb=9-4&oh=00_AfAm22JssMPaUlQe3rpYsFWBhFb5mUgolTCdhV0Xgm4AnA&oe=6556A482&_nc_sid=1d576d&_nc_rid=cd9a998e44',
  'timestamp': '2023-08-19 13:46:02',
  'username': 'celikbeymobilya'},
 {'caption': 'ü§©\n'
             '\n'
             '.\n'
             '.\n'
             'Daha Fazlasƒ± ƒ∞√ßin Beƒüenmeyi ve Takip Etmeyi Unutmayƒ±n\n'
             '.\n'
             'girisimci_muhendis ‚úÖ\n'
             '.\n'
             'üì£Bu Bilgi Hakkƒ±nda Ne D√º≈ü√ºn√ºyorsunuz.\n'
             '.\n'
             '‚úÖG√∂rmesini ƒ∞stediƒüin Arkada≈üƒ±nƒ± Etiketle.\n'
             '.\n'
             'üîîG√∂nderi Bildirimlerini A√ßarak, Bilgileri Anƒ±nda '
             '√ñƒürenebilirsiniz.\n'
             '\n'
             '.\n'
             '\n'
             'Source: Unknown\n'
             'Dm for Credit or removal\n'
             '.\n'
             '.............................................................\n'
             'All rights and credits reserved to the respective owner(s). If '
             'you are the main copyright owner rather than the one mentioned '
             'here of this content, contact me to claim credit or content '
             'removal',
  'comments_count': 75,
  'id': '18302703232191518',
  'like_count': 1224,
  'media_type': 'VIDEO',
  'media_url': None,
  'timestamp': '2023-10-02 06:53:33',
  'username': 'girisimci_muhendis'}]