# Import Dependencies

In [44]:
import numpy as np
import pandas as pd
import gzip
import json
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report

import os

from pprint import pprint

In [19]:
#@title Turkish StopWords

import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
turkish_stopwords = stopwords.words('turkish')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\itsmm\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Influencer Category Classification



1.   Read Data
2.   Preprocess Data
3.   Prepare Model
4.   Predict Test Data
4.   Save outputs

In [20]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the training directory
training_dir = os.path.join(data_dir, 'training')

# File path for 'train-classification.csv'
train_classification_path = os.path.join(training_dir, 'train-classification.csv')

# Step 2: Load Data Dynamically
train_classification_df = pd.read_csv(train_classification_path)
train_classification_df = train_classification_df.rename(columns={'Unnamed: 0': 'user_id', 'label': 'category'})

# Step 3: Unify Labels
train_classification_df["category"] = train_classification_df["category"].apply(str.lower)

# Step 4: Create User-to-Category Mapping
username2_category = train_classification_df.set_index("user_id").to_dict()["category"]

# Step 5: Verify Output
print("First few rows of the training classification DataFrame:")
train_classification_df.head()

First few rows of the training classification DataFrame:

           user_id          category
0    taskirancemal  mom and children
1    tam_kararinda              food
2         spart4nn              food
3  sosyalyiyiciler              food
4  sonaydizdarahad  mom and children

In [21]:
# stats about the labels
train_classification_df.groupby("category").count()

                      user_id
category
art                       191
entertainment             323
fashion                   299
food                      511
gaming                     13
health and lifestyle      503
mom and children          149
sports                    113
tech                      346
travel                    294

In [22]:
username2_category["sonaydizdarahad"]

'mom and children'

In [23]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the training directory
training_dir = os.path.join(data_dir, 'training')

# File path for 'training-dataset.jsonl.gz'
train_data_path = os.path.join(training_dir, 'training-dataset.jsonl.gz')

# Step 2: Initialize Dictionaries for Data
username2posts_train = dict()
username2profile_train = dict()

username2posts_test = dict()
username2profile_test = dict()

# Step 3: Process Data from 'training-dataset.jsonl.gz'
with gzip.open(train_data_path, "rt", encoding="utf-8") as fh:
    for line in fh:
        sample = json.loads(line)

        profile = sample["profile"]
        username = profile.get("username", "").strip()  # Handle missing or empty usernames
        if not username:
            continue  # Skip if username is missing or empty

        if username in username2_category:
            # Train data info
            username2posts_train[username] = sample["posts"]
            username2profile_train[username] = profile
        else:
            # Test data info
            username2posts_test[username] = sample["posts"]
            username2profile_test[username] = profile

# Step 4: Verify Output
print(f"Number of Training Users: {len(username2posts_train)}")
print(f"Number of Testing Users: {len(username2posts_test)}")

Number of Training Users: 2741
Number of Testing Users: 2674

In [24]:
# Profile Dataframe
train_profile_df = pd.DataFrame(username2profile_train).T.reset_index(drop=True)
test_profile_df = pd.DataFrame(username2profile_test).T.reset_index(drop=True)

train_profile_df.head(1)

,username,id,full_name,biography,category_name,post_count,follower_count,following_count,is_business_account,is_private,...,business_category_name,overall_category_name,category_enum,is_verified_by_mv4b,is_regulated_c18,profile_pic_url,should_show_category,should_show_public_contacts,show_account_transparency_details,profile_picture_base64
0,deparmedya,3170700063,Depar Medya,#mediaplanning #mediabuying #sosyalmedya,Local business,None,1167,192,True,False,...,None,None,LOCAL,False,False,https://instagram.fsaw2-3.fna.fbcdn.net/v/t51....,True,True,True,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...

In [25]:
test_profile_df.head(1)

,username,id,full_name,biography,category_name,post_count,follower_count,following_count,is_business_account,is_private,...,business_category_name,overall_category_name,category_enum,is_verified_by_mv4b,is_regulated_c18,profile_pic_url,should_show_category,should_show_public_contacts,show_account_transparency_details,profile_picture_base64
0,beyazyakaliyiz,8634457436,Selam Beyaz YakalÄ±,Beyaz yakalÄ±larÄ±n dÃ¼nyasÄ±na hoÅŸgeldiniz ðŸ˜€ðŸ˜€ðŸ˜€,Personal blog,None,1265,665,True,False,...,None,None,PERSONAL_BLOG,False,False,https://instagram.fist6-1.fna.fbcdn.net/v/t51....,True,True,True,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBw...

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

def preprocess_text(text: str):
    # lower casing Turkish text using .casefold() for robust case-insensitive comparison
    text = text.casefold()
    
    # Remove URLs (http, https, www) 
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    
    # Remove only some special characters and punctuation, 
    # but keep # and @, and do NOT remove emojis.
    # We'll remove everything except letters, numbers, spaces, hashtags, mentions, and typical Turkish letters.
    text = re.sub(r'[^a-zÃ§ÄŸÄ±Ã¶ÅŸÃ¼0-9\s#@]+', '', text)

    # Remove numbers if you wish (optional, you could keep them if they have meaning)
    # text = re.sub(r'\d+', '', text)
    
    # Remove extra whitespaces
    text = re.sub(r'\s+', ' ', text).strip()

    return text



corpus = []

# to keep the label order
train_usernames = []

for username, posts in username2posts_train.items():
  train_usernames.append(username)

  # aggregating the posts per user
  cleaned_captions = []
  for post in posts:
    post_caption = post.get("caption", "")
    if post_caption is None:
      continue

    post_caption = preprocess_text(post_caption)

    if post_caption != "":
      cleaned_captions.append(post_caption)


  # joining the posts of each user with a \n
  user_post_captions = "\n".join(cleaned_captions)
  corpus.append(user_post_captions)

y_train = [username2_category.get(uname, "NA") for uname in train_usernames]

##################################
# New Pipeline Code (to replace old TF-IDF + NB code)
##################################

from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report

# Step 1: Train-Validation Split for baseline
x_train_texts, x_val_texts, y_train_labels, y_val_labels = train_test_split(
    corpus, 
    y_train, 
    test_size=0.2, 
    stratify=y_train, 
    random_state=42
)

# Step 2: Create a pipeline
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(
        stop_words=turkish_stopwords,
        ngram_range=(1,2),         # try bigrams
        max_features=5000
    )),
    ('clf', LogisticRegression(
        class_weight='balanced',   # handle class imbalance
        solver='liblinear',
        random_state=42
    ))
])

# Step 3: Hyperparameter grid
param_grid = {
    'tfidf__ngram_range': [(1,1), (1,2)],
    'clf__C': [0.01, 0.1, 1, 10]
}

# Step 4: Grid Search
grid_search = GridSearchCV(
    pipeline, 
    param_grid, 
    scoring='accuracy', 
    cv=3,  # 3-fold cross validation
    verbose=1, 
    n_jobs=-1
)
grid_search.fit(x_train_texts, y_train_labels)

print("Best Params:", grid_search.best_params_)
print("Best CV Accuracy:", grid_search.best_score_)

# Step 5: Evaluate on validation data
best_pipeline = grid_search.best_estimator_
y_val_pred = best_pipeline.predict(x_val_texts)
val_acc = accuracy_score(y_val_labels, y_val_pred)
print("Validation Accuracy:", val_acc)
print("Validation Classification Report:\n", 
      classification_report(y_val_labels, y_val_pred, zero_division=0))

##################################
# New Test Prediction Code
##################################
test_corpus = []
test_usernames = []

for username, posts in username2posts_test.items():
    test_usernames.append(username)
    cleaned_captions = []
    for post in posts:
        post_caption = post.get("caption", "")
        if post_caption is None:
            continue
        cleaned_captions.append(preprocess_text(post_caption))
    user_post_captions = "\n".join(cleaned_captions)
    test_corpus.append(user_post_captions)

# Predict using the best pipeline found by grid search
test_pred = best_pipeline.predict(test_corpus)

# Then create your output dictionary
output = {}
for index, uname in enumerate(test_usernames):
    output[uname] = test_pred[index]

with open("output.json", "w") as of:
    json.dump(output, of, indent=4)

print("Test predictions saved in output.json")

Fitting 3 folds for each of 8 candidates, totalling 24 fits
Best Params: {'clf__C': 10, 'tfidf__ngram_range': (1, 1)}
Best CV Accuracy: 0.6555628431684876
Validation Accuracy: 0.6466302367941712
Validation Classification Report:
                       precision    recall  f1-score   support

                 art       0.20      0.11      0.14        38
       entertainment       0.47      0.37      0.41        65
             fashion       0.56      0.75      0.64        60
                food       0.86      0.88      0.87       102
              gaming       0.00      0.00      0.00         3
health and lifestyle       0.67      0.72      0.69       100
    mom and children       0.48      0.40      0.44        30
              sports       0.74      0.74      0.74        23
                tech       0.63      0.75      0.68        69
              travel       0.72      0.66      0.69        59

            accuracy                           0.65       549
           macro avg       0.53      0.54      0.53       549
        weighted avg       0.63      0.65      0.63       549

Test predictions saved in output.json

In [27]:
# Making sure everything is fine
assert y_train.count("NA") == 0

In [28]:
feature_names = vectorizer.get_feature_names_out()
print("TF-IDF Feature Columns:")
print(feature_names)

TF-IDF Feature Columns:
['abdullah' 'abone' 'about' ... 'ÅŸÄ±k' 'ÅŸÄ±klÄ±k' 'ÅŸÄ±klÄ±ÄŸÄ±']

In [29]:
df_tfidf = pd.DataFrame(x_post_train.toarray(), columns=feature_names)
df_tfidf.head(1)

,abdullah,abone,about,acele,acil,activities,acÄ±,ad,ada,adam,...,ÅŸubemiz,ÅŸubesi,ÅŸÃ¶len,ÅŸÃ¶leni,ÅŸÃ¶yle,ÅŸÃ¼kranla,ÅŸÃ¼kÃ¼r,ÅŸÄ±k,ÅŸÄ±klÄ±k,ÅŸÄ±klÄ±ÄŸÄ±
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.050596,0.0,0.0

In [30]:
df_tfidf.shape

(2741, 5000)

In [31]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(df_tfidf, y_train, test_size=0.2, stratify=y_train)

print(x_train.shape)

print(x_val.shape)

(2192, 5000)
(549, 5000)

# Naive Base Classifier

### Now we can pass the numerical values to a classifier, Let's try Naive Base!

In [32]:

from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report


model = MultinomialNB()
model.fit(x_train, y_train)

#@title Train Data
y_train_pred = model.predict(x_train)

print("Accuracy:", accuracy_score(y_train, y_train_pred))
print("\nClassification Report:")
print(classification_report(y_train, y_train_pred, zero_division=0))

Accuracy: 0.656934306569343

Classification Report:
                      precision    recall  f1-score   support

                 art       0.88      0.09      0.17       153
       entertainment       0.63      0.56      0.59       258
             fashion       0.77      0.73      0.75       239
                food       0.82      0.89      0.85       409
              gaming       0.00      0.00      0.00        10
health and lifestyle       0.49      0.85      0.62       402
    mom and children       0.92      0.09      0.17       119
              sports       1.00      0.11      0.20        90
                tech       0.77      0.81      0.79       277
              travel       0.59      0.69      0.63       235

            accuracy                           0.66      2192
           macro avg       0.69      0.48      0.48      2192
        weighted avg       0.71      0.66      0.62      2192

In [33]:
#@title Validation Data
y_val_pred = model.predict(x_val)

print("Accuracy:", accuracy_score(y_val, y_val_pred))
print("\nClassification Report:")
print(classification_report(y_val, y_val_pred, zero_division=0))

Accuracy: 0.6029143897996357

Classification Report:
                      precision    recall  f1-score   support

                 art       0.00      0.00      0.00        38
       entertainment       0.57      0.45      0.50        65
             fashion       0.65      0.65      0.65        60
                food       0.77      0.87      0.82       102
              gaming       0.00      0.00      0.00         3
health and lifestyle       0.46      0.84      0.59       100
    mom and children       1.00      0.03      0.06        30
              sports       0.00      0.00      0.00        23
                tech       0.75      0.80      0.77        69
              travel       0.53      0.58      0.55        59

            accuracy                           0.60       549
           macro avg       0.47      0.42      0.40       549
        weighted avg       0.57      0.60      0.55       549

In [34]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the testing directory
testing_dir = os.path.join(data_dir, 'testing')

# File path for 'test-classification-round1.dat'
test_data_path = os.path.join(testing_dir, 'test-classification-round1.dat')

# Step 2: Preview First 5 Lines of the Test File
with open(test_data_path, "rt", encoding="utf-8") as fh:
    for i, line in enumerate(fh):
        print(line.strip())
        if i == 4:  # Print only the first 5 lines
            break

print("*****")

# Step 3: Extract Usernames from Test Data
test_unames = []
with open(test_data_path, "rt", encoding="utf-8") as fh:
    for line in fh:
        test_unames.append(line.strip())

# Step 4: Verify Output
print(test_unames[:5])  # Display the first 5 usernames

ozhotelstr
elleturkiye
sozerinsaatorhangazi
sanliurfapiazzaavym
rusanozden
*****
['ozhotelstr', 'elleturkiye', 'sozerinsaatorhangazi', 'sanliurfapiazzaavym', 'rusanozden']

In [35]:
x_test = []

for uname in test_unames:
  try:
    index = test_usernames.index(uname)
    x_test.append(x_post_test[index].toarray()[0])
  except Exception as e:
    try:
      index = train_usernames.index(uname)
      x_test.append(x_post_train[index].toarray()[0])
    except Exception as e:
      print(uname)


test_unames.remove("screenname")

screenname

In [36]:
df_test = pd.DataFrame(np.array(x_test), columns=feature_names)
df_test.head(2)

,abdullah,abone,about,acele,acil,activities,acÄ±,ad,ada,adam,...,ÅŸubemiz,ÅŸubesi,ÅŸÃ¶len,ÅŸÃ¶leni,ÅŸÃ¶yle,ÅŸÃ¼kranla,ÅŸÃ¼kÃ¼r,ÅŸÄ±k,ÅŸÄ±klÄ±k,ÅŸÄ±klÄ±ÄŸÄ±
0,0.0,0.0,0.0,0.0,0.0,0.013628,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.025994,0.0,0.0,0.011087,0.0,0.0

In [37]:
test_pred = model.predict(df_test)

output = dict()
for index, uname in enumerate(test_unames):
  output[uname] = test_pred[index]

In [38]:
with open("output.json", "w") as of:
  json.dump(output, of, indent=4)

# Like Count Prediction


Here, we use the average like_count of the user's previous posts to predict each post's like_count

In [39]:
def predict_like_count(username, current_post=None):
  def get_avg_like_count(posts:list):
    total = 0.
    for post in posts:
      if current_post is not None and post["id"] == current_post["id"]:
        continue

      like_count = post.get("like_count", 0)
      if like_count is None:
        like_count = 0
      total += like_count

    if len(posts) == 0:
      return 0.

    return total / len(posts)

  if username in username2posts_train:
    return get_avg_like_count(username2posts_train[username])
  elif username in username2posts_test:
    return get_avg_like_count(username2posts_test[username])
  else:
    print(f"No data available for {username}")
    return -1

In [40]:
def log_mse_like_counts(y_true, y_pred):
  """
  Calculate the Log Mean Squared Error (Log MSE) for like counts (log(like_count + 1)).

  Parameters:
  - y_true: array-like, actual like counts
  - y_pred: array-like, predicted like counts

  Returns:
  - log_mse: float, Log Mean Squared Error
  """
  # Ensure inputs are numpy arrays
  y_true = np.array(y_true)
  y_pred = np.array(y_pred)

  # Log transformation: log(like_count + 1)
  log_y_true = np.log1p(y_true)
  log_y_pred = np.log1p(y_pred)

  # Compute squared errors
  squared_errors = (log_y_true - log_y_pred) ** 2

  # Return the mean of squared errors
  return np.mean(squared_errors)

In [41]:
#@title Train Dataset evaluation

y_like_count_train_true = []
y_like_count_train_pred = []
for uname, posts in username2posts_train.items():
  for post in posts:
    pred_val = predict_like_count(uname, post)
    true_val = post.get("like_count", 0)
    if true_val is None:
      true_val = 0

    y_like_count_train_true.append(true_val)
    y_like_count_train_pred.append(pred_val)

print(f"Log MSE Train= {log_mse_like_counts(y_like_count_train_true, y_like_count_train_pred)}")

Log MSE Train= 1.2271047744059362

In [42]:
# Step 1: Define File Paths Dynamically
# Get the current notebook directory
current_notebook_dir = os.getcwd()

# Get the repo directory (assuming notebooks are inside the "notebooks" folder)
repo_dir = os.path.abspath(os.path.join(current_notebook_dir, '..'))

# Get the data directory
data_dir = os.path.join(repo_dir, 'data')

# Get the testing directory
testing_dir = os.path.join(data_dir, 'testing')

# File path for 'test-regression-round1.jsonl'
test_dataset_path = os.path.join(testing_dir, 'test-regression-round1.jsonl')

# File path for output
output_dir = os.path.join(data_dir, 'output')
os.makedirs(output_dir, exist_ok=True)  # Ensure the output directory exists
output_file_path = os.path.join(output_dir, 'test-regression-round1.jsonl')

# Step 2: Process the Test Dataset
to_predict_like_counts_usernames = []
output_list = []

with open(test_dataset_path, "rt", encoding="utf-8") as fh:
    for line in fh:
        sample = json.loads(line)

        # Perform prediction
        pred_val = predict_like_count(sample["username"])  # Ensure `predict_like_count` is defined
        sample["like_count"] = int(pred_val)
        output_list.append(sample)

# Step 3: Save the Output to a File
with open(output_file_path, "wt", encoding="utf-8") as of:
    json.dump(output_list, of)

# Step 4: Output Verification
print(f"Processed data saved to: {output_file_path}")

Processed data saved to: c:\Users\itsmm\OneDrive\Desktop\CS412\CS412-InstagramInfluencersAnalysis\data\output\test-regression-round1.jsonl

In [43]:
# output_list first 3 items
pprint(output_list[:3])

[{'caption': 'KOZA 2023 2.si Damlaâ€™nÄ±n koleksiyonu, Latincede â€˜Memento Moriâ€™ '
             'olarak bilinen â€˜Ã¶lÃ¼mlÃ¼ olduÄŸunu hatÄ±rlaâ€™ anlamÄ±ndaki ifadeden '
             'esinleniyor. Koleksiyon, hayatÄ±n ve Ã¶lÃ¼mÃ¼n, para, iÅŸÃ§i, kral ve '
             'kraliÃ§e kavramlarÄ± Ã¼zerinden yaratÄ±cÄ± gÃ¶rÃ¼nÃ¼mlerle bir araya '
             'getirilmesini amaÃ§lÄ±yor. Ã–lÃ¼m sembollerinden esinlenen desenler '
             'kullanan Damla, â€œkaÄŸÄ±t parÃ§asÄ±ndan ibaret olmakâ€ kavramÄ±nÄ± '
             'vurguluyor. Koleksiyon, yaÅŸamÄ±n ve Ã¶lÃ¼mÃ¼n aynÄ± anda ifade '
             'edilmesini hedefliyor; kÄ±rmÄ±zÄ± ve mavi Ä±ÅŸÄ±klarla veya '
             'gÃ¶zlÃ¼klerle gÃ¶rÃ¼len hologram efekti kullanÄ±larak bu konsept '
             'sahneye taÅŸÄ±nÄ±yor. KÄ±rmÄ±zÄ± renk Ã¶lÃ¼mÃ¼, mavi ise yaÅŸamÄ± '
             'simgeliyor. Koleksiyon, ofis giyimlerinden esinlenerek '
             'kravatlar, gÃ¶mlekler ve evrak Ã§antalarÄ± iÃ§eriyor. Klasik sivri '
             'burun Ã§izmelerin Ã¼zerine spor ayakkabÄ±larÄ±n Ã¼st yÃ¼zeyi '
             'yerleÅŸtirilerek, iÅŸ dÃ¼nyasÄ±nÄ±n koÅŸuÅŸturmasÄ± ve cenaze '
             'temalarÄ±nÄ±n aynÄ± anda ifade edilmesi amaÃ§lanÄ±yor. Para kazanma '
             'arzusu, kÄ±rmÄ±zÄ± zambak desenleri ve bÃ¼yÃ¼k mÃ¼cevher gÃ¶rÃ¼nÃ¼mleri '
             'ile koleksiyon tamamlanÄ±yor.\n'
             '\n'
             'Tebrikler Damla!\n'
             '\n'
             '#GencModaTasarimcilari #Koza2023 #KozaYarismasi '
             '#TasarimYarismasi #Moda #Fashion #ModaTasarÄ±mÄ±',
  'comments_count': 2,
  'id': '18144550534306740',
  'like_count': 158,
  'media_type': 'CAROUSEL_ALBUM',
  'media_url': 'https://scontent-sof1-1.cdninstagram.com/v/t51.29350-15/397997154_1016992459537522_4925783512176260397_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=7V_eObkFeK4AX-LMtsK&_nc_ht=scontent-sof1-1.cdninstagram.com&edm=AL-3X8kEAAAA&oh=00_AfDEqDhzaTO3ezV-veT6cJFCOcAEyeVzHR6si9n33N6G5A&oe=6551B6B9',
  'timestamp': '2023-11-02 15:49:22',
  'username': 'kozayarismasi'},
 {'caption': 'TÃ¼m TÃ¼rkiye ve Avrupaâ€™ya sevkiyatlarÄ±mÄ±z aralÄ±ksÄ±z devam ediyor! '
             'AracÄ±mÄ±z Bursaâ€™dan Orduâ€™ya mÃ¼ÅŸterimizin Ã¼rÃ¼nleri iÃ§in yola '
             'Ã§Ä±kÄ±yor.\n'
             '\n'
             'ðŸ‘‰Tuna Mah. Etibank Cad. No:134 Osmangazi/BURSA\n'
             '\n'
             'www.celikbeymobilya.com sitemizden tÃ¼m modelleri '
             'inceleyebilirsiniz. \n'
             '\n'
             '#bursa #almanya #fransa',
  'comments_count': 0,
  'id': '17995331788956693',
  'like_count': 99,
  'media_type': 'VIDEO',
  'media_url': 'https://scontent-sof1-2.cdninstagram.com/o1/v/t16/f1/m82/BF4767CB85BDFB8ADCCCA8F15B8C20B5_video_dashinit.mp4?efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLmNsaXBzLnVua25vd24tQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSJ9&_nc_ht=scontent-sof1-2.cdninstagram.com&_nc_cat=110&vs=1259525061418244_1441854817&_nc_vs=HBksFQIYT2lnX3hwdl9yZWVsc19wZXJtYW5lbnRfcHJvZC9CRjQ3NjdDQjg1QkRGQjhBRENDQ0E4RjE1QjhDMjBCNV92aWRlb19kYXNoaW5pdC5tcDQVAALIAQAVAhg6cGFzc3Rocm91Z2hfZXZlcnN0b3JlL0dBRWdfaFZfcDVCYk5HZ0NBQTlzVURvZW5mZ3FicV9FQUFBRhUCAsgBACgAGAAbAYgHdXNlX29pbAExFQAAJvS3uOiQ0P8%2FFQIoAkMzLBdAJO%2Bdsi0OVhgSZGFzaF9iYXNlbGluZV8xX3YxEQB1AAA%3D&ccb=9-4&oh=00_AfAm22JssMPaUlQe3rpYsFWBhFb5mUgolTCdhV0Xgm4AnA&oe=6556A482&_nc_sid=1d576d&_nc_rid=cd9a998e44',
  'timestamp': '2023-08-19 13:46:02',
  'username': 'celikbeymobilya'},
 {'caption': 'ðŸ¤©\n'
             '\n'
             '.\n'
             '.\n'
             'Daha FazlasÄ± Ä°Ã§in BeÄŸenmeyi ve Takip Etmeyi UnutmayÄ±n\n'
             '.\n'
             'girisimci_muhendis âœ…\n'
             '.\n'
             'ðŸ“£Bu Bilgi HakkÄ±nda Ne DÃ¼ÅŸÃ¼nÃ¼yorsunuz.\n'
             '.\n'
             'âœ…GÃ¶rmesini Ä°stediÄŸin ArkadaÅŸÄ±nÄ± Etiketle.\n'
             '.\n'
             'ðŸ””GÃ¶nderi Bildirimlerini AÃ§arak, Bilgileri AnÄ±nda '
             'Ã–ÄŸrenebilirsiniz.\n'
             '\n'
             '.\n'
             '\n'
             'Source: Unknown\n'
             'Dm for Credit or removal\n'
             '.\n'
             '.............................................................\n'
             'All rights and credits reserved to the respective owner(s). If '
             'you are the main copyright owner rather than the one mentioned '
             'here of this content, contact me to claim credit or content '
             'removal',
  'comments_count': 75,
  'id': '18302703232191518',
  'like_count': 1224,
  'media_type': 'VIDEO',
  'media_url': None,
  'timestamp': '2023-10-02 06:53:33',
  'username': 'girisimci_muhendis'}]